* {
  margin: 0;
  padding: 0;
}

.nav-list {
  text-decoration: none;
  display: none;
  list-style-type: none;
}
#bmenu {
  width: 40px;
}

#burger {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  display: none;
  color: white;
}
li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.burger-menu {
  background-color: blue;
}

#burger.active {
  display: flex;
}
